<%= turbo_frame_tag comment do %>
  <p><%= comment.content %></p>

  <div style="display: flex; flex-direction: row">
    <%= link_to "Edit", edit_comment_path(comment, post_id: post.id) %> |
    <%= button_to "Destroy", comment, method: :delete %> |
    <%= link_to "Reply", new_comment_path(parent_id: comment.id, post_id: post.id), data: { turbo_frame: dom_id(comment, :new_comment) } %>
  </div>
<% end %>
