<%= form_with(model: comment) do |form| %>
  <%= hidden_field_tag :post_id, post.id %>
  <%= hidden_field_tag :parent_id, local_assigns[:parent]&.id %>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit %>

    <% target = local_assigns[:parent] || comment %>
    <% if target&.persisted? %>
      <%= link_to "Cancel", comment_path(target, post_id: post.id) %>
    <% end %>
  </div>
<% end %>
